body {
    margin: 0;
    padding: 0;
    background-color: gray;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 70px;
    max-width: 600px;
    height: 320px;
    border: 10px solid #9C9C9C;
    background-color: gainsboro;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }