body {
  font-size: 15px;
  
}
.table-dark {
  border: 12px;
}
button{
  cursor: pointer;
}
.container {
/*   
  padding-top: 10px;
  border-style: groove; */
  font-family: cursive;
  font-weight: bold
}
.btn-group-lg{
  border:10px;
  border-radius: 12px;
  
}