<nav class="navbar bg-dark navbar-expand-md navbar-dark position-sticky">

  <div class="black pull-left"> <img src="./../../../../../assets/ball-removebg-preview.png" alt="" class="rotate "
      style="height: 30px;width: 30px;">

    <a (click)='reload()' class="text-light " style="font-size: 20px;font-weight: bold;">
      Cric
    </a>
  </div>



  <ul class="d-none d-md-block navbar-nav navbar-right pull-right " style="float:right">
    <li class=" nav-item btn font-weight-bold text-style "><a routerLink="/private/oldMatch">Old_Matches </a> </li>
    <li class="nav-item btn font-weight-bold text-style "> <a routerLink="/private/myFavourites">Favourites </a>
    </li>
    <li class="nav-item btn font-weight-bold text-style "> <a routerLink="/private/recommend">Recommendations </a>
    </li>
    <li class="font-weight-bold  pull-right"> <button class="btn btn-sm btn-warning"
        style="font-family: cursive;margin-left: 1000px" (click)='logout()'>Logout</button>
    </li>
  </ul>

  <button class="navbar-toggler navbar-nav  d-md-none pull-right " type="button" data-toggle="collapse"
    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div>

    <ul class="collapse " id="navbarToggleExternalContent">
      <li class="nav-item  font-weight-bold text-style"><a routerLink="/private/oldMatch">Old_Matches </a> </li>
      <li class="nav-item  font-weight-bold text-style"> <a routerLink="/private/myFavourites">Favourites </a>
      </li>
      <li class="nav-item  font-weight-bold text-style"> <a routerLink="/private/recommend">Recommendations </a>
      </li>
      <li class="nav-item  font-weight-bold text-style "> <button class="btn btn-sm btn-warning"
          style="font-family: cursive" (click)='logout()'>Logout</button></li>
    </ul>
  </div>


</nav>



<!-- <mat-spinner style="margin-top: 10%; margin-left: 45%;" *ngIf='!isWait'></mat-spinner> -->


<router-outlet *ngIf="isWait"></router-outlet>
<!-- <app-landing-page [NewMatchData]='FilterData'></app-landing-page> -->