a{
  font-family: cursive;
  color: white;
  
  
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate {
  animation: rotation 8s infinite linear;
}

nav{
  border: 10px;
  border-style: double
}

 
.text-style{
  color: cornsilk;
}



a:hover{
 cursor: pointer;
}