<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

  <div>
    <h1 class='bg-dark' style="text-align: center;color: white;">Table View</h1>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Date</th>
          <th>Team1</th>

          <th>Team2</th>
          <th>Type</th>
          <!-- <th>Toss Winner</th>
          <th>Winner</th> -->
          <th>
            <!-- <input 
              > -->
            <input [(ngModel)]="enteredtext" type='text' placeholder="India" (change)='filter'
              class="form-control mr-sm-2"
              style="border-radius: 15px ;background-color:white;color: azure;font-size: 10px " aria-label="Search">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of FilterData">
          <!-- <th scope="row">3</th> -->
          <td><strong>{{ getDate(item['date']) }}</strong></td>
          <td><strong>{{ item['team-1']}}</strong></td>
          <td><strong>{{ item['team-2']}}</strong></td>
          <td><strong>{{ item.type }}</strong></td>
          <!-- <td><strong>{{ item.toss_winner_team }}</strong></td>
          <td><strong>{{ item.winner_team }}</strong></td> -->
          <td><button class="btn btn-primary" (click)='addToFavourites(item)'><strong>Add To FAVOURITES</strong>
            </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>