<!-- <mat-spinner style="margin-top: 10%; margin-left: 45%;" *ngIf='!show'></mat-spinner> -->
<div *ngIf="show">
  <div class="container">
    <h3 class='bg-dark' style="text-align: center;color: white;">RECOMMENDATIONS</h3>
    <div class=".btn-group-lg pull-right" style="font-weight: bold;margin-top: 0%">
      <button class="btn-dark " (click)='ascending()'>ASC</button>
      <button class="btn-dark " (click)='descending()'>DESC</button>
    </div>
    <table class="table table-info table-responsive-lg">
      <thead>
        <tr>
          <th>Sr.</th>
          <th>Date</th>
          <th>Team1</th>
          <th>Team2</th>

          <th>
            Recommendation Score
          </th>
          <th>Add To Favourites</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of recommendation; let i = index">
          <td><strong>{{i+1}}</strong></td>
          <td><strong>{{ getDate(item.date) }}</strong></td>
          <td><strong>{{ item['team-1']}}</strong></td>
          <td><strong>{{ item['team-2']}}</strong></td>
          <td><strong>{{  item.recommendationScore }}</strong></td>

          <td *ngIf="!item.added"><button id='favouriteButton' class="btn btn-sm btn-primary"
              (click)='addToFavourites(item,i)'>Add To Favourites
            </button></td>

          <td *ngIf="item.added"><button class="btn btn-sm btn-primary" disabled>Added
            </button></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>