#nav :hover {
  cursor: pointer;
}
body {
  font-size: 20px;
}
.navbar{
  position: relative;
}
/* .navbar li:last-child {
  float: right; /* last li item */
  /* top:10px; */
/* } */ 

#recommend{
 
    margin: 0 auto;
   }