 .navbar {
  width: 100%;
   overflow: auto; 
   border: 10px;
  border-radius: 10px; 
   
}
#logo{
 margin-inline-start: 0%;
}
#recommend{
  margin-inline-end: 0%;
  
}

#b1 {
  float: right;
  margin-left: 1200px; 
 }

.navbar a {
  color: white;
  text-decoration: none;  
}



 @media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    display: block;
  }
  body{
    width: 400px
  }
} 
 body{
  font-size: 17px
} 